body {
  font-family: arial, sans-serif;
  color: grey;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 1.4rem;
  padding-left: 21px;
}

p {
  text-align: center;
  font-size: 14px;
}

ul {
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}

strong {
  font-size: 16px;
}

.daily-forecast li {
  word-spacing: 30px;
}

.container-0 {
  max-width: 900px;
  background: white;
  margin: 0 auto;
  padding: 30px 60px;
}
.weather-app-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 60px;
  background: #f2fafc;
  border-radius: 10px;
}

.search-engine {
  padding-top: 20px;
  padding-bottom: 20px;
}
.btn {
  vertical-align: 0px;
}

.weather-today {
  font-size: 22px;
}

.website-host {
  position: relative;
  bottom: 0px;
  left: 268px;
}

.weather-forecast-temperature {
  padding-left: 30px;
}

.col-6 {
  padding: 0px 0px 0px 29px;
}

.current-Weather .active {
  color: black;
  cursor: default;
}

.current-Weather .active:hover {
  text-decoration: none;
}

.current-weather-description {
  padding: 0px 0px 0px 0px;
}

.col-time {
  padding: 40px 0px 0px 0px;
}

.col-3 {
  padding: 0px 0px 0px 0px;
}

#current-weather-symbol {
  padding: 0px 0px 0px 0px;
}

#current-degrees-units {
  padding: 20px 0px 0px 0px;
}

#current-degrees-number {
  padding: 20px 0px 0px 0px;
}
#current-degrees-units